body {
    font-family: "roboto";
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header {
    padding: 18px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 720px;
    gap: 50px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8
}

.header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.main-container {
    display: flex;
    flex-wrap: nowrap;
    background: #1F2937;
    padding: 18px;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.card {
    max-width: 300px;
}

.card ul {
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.card h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.card h4 {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

img {
    max-width: 350px;
    flex-grow: 0;
}

button {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
    padding: 5px 30px 5px 30px;

    border-radius: 6px;
 
}