body {
    font-family: "roboto";
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.top .container, .mid1 .container, .mid2 .quote-container, .bottom .container, .footer .copy {
    max-width: 900px;
}

.top .container {
    padding: 15px 15px 50px 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.head, .head2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.head2 {
    gap: 50px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8
}

.links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 15px;
}

a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

.top-text {
    display: flex;
    flex: 1;
}

.top-text ul, .box ul {
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-text li {
    padding-bottom: 8px;;
}

.top-text h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.top-text h4 {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.placeholder {
    flex: 1;
    max-width: 500px;
}

.placeholder img {
    max-width: 100%;
    min-width: 100%;
}

button {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: white;
    padding: 5px 30px 5px 30px;
    border-radius: 6px;
}

.top-text button {
    font-weight: bold;
}

.mid1, .mid2 {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    text-align: center;
    padding: 50px;
}

.mid1 {
    padding-top: 0;
}

.mid1 h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.mid1 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid2 {
    background-color: #E5E7EB;
}

.cards-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
    font-weight: 300;
    color: #1F2937;
    flex: 0;
}

.imagebox {
    display: flex;
    border: 4px solid #3882f6;
    border-radius: 15px;
    max-width: 300px;
}

.imagebox img {
    height: 200px;
    border-radius: 5%;
}

.quote-container {
    display: flex;
    flex-direction: column;
}

.quote h3, h5 {
    padding: 0;
    margin: 0;
}

.quote h3 {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
    text-align: start;
}

.quote h5 {
    font-size: 24px;
    color: #1F2937;
    font-weight: bolder;
    text-align: end;
}

.quote {
    padding: 50px;
    margin: 0;
    list-style: none;
}

.bottom {
    display: flex;
    padding: 50px;
    justify-content: center;
}

.bottom .container {
    width: 100%;
}

.box {
    background: #3882f6;
    border-radius: 5px;
    padding: 35px;
}

.box .content {
    display: flex;
    align-items: center;
    color: #f9faf8;
    justify-content: space-around;
}

.content h3, .content h5 {
    margin: 0;
    padding: 0;
}

.content h3 {
    font-size: 18px;
    font-weight: bold;
}

.content h5 {
    font-size: 12px;
    font-weight: 300;
}

.box button {
    border: 2px solid #f9faf8;
}

.statement {
    display: flex;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy {
    padding: 20px;
    font-weight: 300;
}